<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FISSuite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="WebTesting"/>
      <class name="ApiTesting"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- FISSuite -->
